<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="Forms" />
    <sessionState timeout="5" cookieless="AutoDetect" regenerateExpiredSessionId="true"></sessionState> 
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>


  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.uwec.edu" password="Youvegotmail33" userName="SMTPAUTH" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>


</configuration>