<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=issql01.isnet.uwec.edu;User ID=ABUNDEZA6303;Password=LQYILL84AL1$"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms"/>
    <sessionState timeout="5" cookieless="AutoDetect" regenerateExpiredSessionId="true"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.uwec.edu" password="Youvegotmail33" userName="SMTPAUTH" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISaleService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52085/WebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISaleService" contract="SalesServiceProxy.ISaleService" name="BasicHttpBinding_ISaleService"/>
    </client>
  </system.serviceModel>
</configuration>